* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  color: hsl(0, 36%, 70%);
}

.heading img {
  width: 35%;
}

.text span {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}
.text h1 {
  text-transform: uppercase;
  font-weight: 500;
  color: hsl(0, 6%, 24%);
}

.email-input .email-div {
  position: relative;
}
.email-input .input {
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 3rem;
  border: 1px solid hsla(0, 6%, 24%, 0.229);
  background: transparent;
}
.email-input .input[type=email] {
  color: hsl(0, 6%, 24%);
}
.email-input .input::-moz-placeholder {
  color: hsla(0, 36%, 70%, 0.502);
}
.email-input .input::placeholder {
  color: hsla(0, 36%, 70%, 0.502);
}
.email-input .error-icon {
  display: none;
  position: absolute;
}
.email-input button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 3rem;
  box-shadow: 0 1px 8px hsl(0, 36%, 70%);
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
.email-input button:hover {
  background: hsl(0, 80%, 86%);
}
.email-input .error-message {
  display: none;
  color: hsl(0, 74%, 74%);
  font-weight: 500;
}

.footer {
  color: hsl(0, 36%, 70%);
  opacity: 80%;
  text-align: center;
  line-height: 1.5rem;
}
.footer a {
  text-decoration: none;
  color: hsl(0, 74%, 74%);
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    width: 100vw;
    height: 100vh;
  }
  .hero-desktop {
    grid-row: 1;
    grid-column: 2;
    overflow: hidden;
  }
  .hero-desktop img {
    height: 100%;
  }
  .content {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    background-image: url(https://raw.githubusercontent.com/red-jpo/base-apparel-coming-soon-solution/5799ab44a1a14721cf229ecffae43b4e65f6043b/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 29rem 5rem 10rem;
    overflow: hidden;
  }
  .content .hero-mobile {
    display: none;
  }
  .heading {
    grid-row: 1;
    grid-column: 1;
    padding-bottom: 8rem;
  }
  .text {
    grid-row: 2;
    grid-column: 1;
  }
  .text span {
    font-size: 5rem;
  }
  .text h1 {
    font-size: 5rem;
    letter-spacing: 1rem;
    line-height: 6rem;
  }
  .text p {
    padding: 2rem 2rem 2rem 0;
    line-height: 2.4rem;
    font-size: 1.2rem;
  }
  .email-input {
    grid-row: 3;
    grid-column: 1;
  }
  .email-input .input {
    flex: 1;
    padding-left: 2rem;
    font-size: 1rem;
    font-weight: 500;
    height: 3.5rem;
    width: 90%;
  }
  .email-input .input::-moz-placeholder {
    font-size: 1rem;
  }
  .email-input .input::placeholder {
    font-size: 1rem;
  }
  .email-input .error-icon {
    right: 8rem;
    top: 1rem;
  }
  .email-input button {
    padding: 1rem 3rem;
  }
  .email-input button:hover {
    zoom: 1.01;
    cursor: pointer;
  }
  .email-input .error-message {
    padding: 1rem 0 0 2rem;
  }
  .footer {
    grid-row: 4;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }
}
@media screen and (max-width: 767px) {
  body {
    color: hsl(0, 36%, 70%);
    background-position: right;
    background-size: cover;
  }
  .hero-desktop {
    display: none;
  }
  .heading {
    padding: 2rem;
  }
  .hero-mobile img {
    width: 100%;
  }
  .text {
    text-align: center;
    padding: 4rem 2rem 0 2rem;
  }
  .text span {
    font-size: 3rem;
  }
  .text h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    line-height: 3.2rem;
  }
  .text p {
    padding: 1rem 0 2rem 0;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .email-input {
    padding: 0 2rem;
  }
  .email-input .input {
    padding-left: 1.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    height: 2.8rem;
    width: 100%;
  }
  .email-input .input::-moz-placeholder {
    font-size: 0.9rem;
  }
  .email-input .input::placeholder {
    font-size: 0.9rem;
  }
  .email-input .error-icon {
    right: 5rem;
    top: 0.6rem;
  }
  .email-input button {
    padding: 0.75rem 1.4rem 0.55rem 1.6rem;
  }
  .email-input .error-message {
    padding: 1rem 0 0 1.5rem;
    font-size: 0.9rem;
  }
  .footer {
    margin: 4rem 5rem;
    text-align: center;
    line-height: 1.5rem;
    margin: 4rem 5rem;
  }
  .footer .attribution {
    font-size: 0.8rem;
  }
  .footer a {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */